<div *ngIf="data" class="container-fluid">
  <div 
  class="row">
    <nav
      class="col-md-12 col-lg-2 px-0 sticky-top navbar navbar-expand-md sidebar-lg"
    >
      <div class="gradient-bg"></div>
      <div class="ps-3">
        <ul class="nav flex-lg-column text-secondary">
          <li class="nav-item text-wrap w-lg-100">
            <a class="nav-link-2 wave-underline" [routerLink]="'/about'"
              >about</a
            >
          </li>
          <li class="nav-item text-wrap w-lg-100">
            <a class="nav-link-2 wave-underline" [routerLink]="'/resume'"
              >resume</a
            >
          </li>
          <li class="nav-item text-wrap w-lg-100">
            <a class="nav-link-2 wave-underline" [routerLink]="'/projects'"
              >projects</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div 
    class="col-md-12 col-lg-10 min-vh-100 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div *ngIf="!data" class="loading-screen">
  <div class="loading-square"></div>
</div>
