<div *ngIf="project" class="border-0 container-fluid">
  <div class="gallery row">
    <div
      *ngIf="getSlides().length > 1"
      class="col-lg-3 col-md-12 slide-container row-md"
    >
      <div
        *ngFor="let slide of getSlides()"
        (click)="activeSlide = slide"
        class="p-3"
      >
        <img [src]="slide" alt="Slide" class="img-detail" />
      </div>
    </div>
    <div *ngIf="activeSlide" class="col slide-container">
        <img
          [src]="activeSlide"
          alt=""
          (click)="isFullScreen = !isFullScreen"
          class="img-main"
          [@fullScreen]="isFullScreen"
        />
    </div>
  </div>

  <div class="mt-5 mx-5">
    <h5 class="py-4 display-7 text-center m-0 pb-2">{{ project.name }}</h5>
    <p class="text-muted fw-light mt-0">{{ project.date }}</p>
    <div class="card-text text-center fw-light">{{ project.description }}</div>
    <div *ngIf="project.userStory" class="card-text text-center fw-light my-2">
      <span>User story:</span>
      {{ project.userStory }}
    </div>
    <div class="row">
      <div class="col-8">
        <div
          class="mb-2 mt-3 card-group"
          *ngIf="project.tech != [] && project.tech[0] != ''"
        >
          <span
            class="text-center m-2 badge fw-light fs-6 bg-secondary"
            *ngFor="let tech of project.tech"
          >
            {{ tech }}
          </span>
        </div>
      </div>
      <div class="col text-end mt-3">
        <a
          *ngIf="project.github != ''"
          href="{{ project.github }}"
          class="mx-2 mb-2 p-2"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="GitHub"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            class="bi bi-github project-icon-animation"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
            /></svg
        ></a>
        <a
          *ngIf="project.link != ''"
          href="{{ project.link }}"
          class="mx-2 mb-2 p-2"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="Visit site"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            class="bi bi-eye-fill project-icon-animation"
            viewBox="0 0 16 16"
          >
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
            <path
              d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
            /></svg
        ></a>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="!project"
  class="card m-2 border-0 text-muted text-center display-8"
>
  Oh no! This project is missing.
</div>
