<div *ngIf="resume" class="container-fluid p-0 bg-primary-light">
  <div class="bg-about"></div>
  <div class="my-0 p-0 w-75 mx-auto" @componentAnimation>
    <div class="rounded-2 px-4 py-3">
      <div class="row">
        <div class="col col-md my-2">
          <div
            class="py-2 px-4 border-top border-primary border-3 title-container"
          >
            <h1 class="moirai title">
              <span class="gradient-text">Hello!</span>
            </h1>
            <p class="fw-light fs-6 lh-lg">
              My name is Orsi, I'm a last semester Computer Science Engineer B.Sc.
              student at Budapest University of Technology and Economics (BME),
              at the Faculty of Electrical Engineering and Informatics (VIK). My
              thesis involved designing and deploying a restaurant management
              system on microservices architecture to the Azure Cloud. Currently, 
              I'm living in Baden-Württemberg, Germany and am
              looking for a junior position so I can obtain my degree. Although I'm mostly interested in web development, 
              in my spare time I like to experiment with various aspects of programming.
              <!-- I also enjoy hiking, learning languages and improve
              my projects. -->
            </p>
          </div>
          <div
            class="my-2 py-2 px-4 text-center fw-light border-top border-primary border-3 title-container"
          >
            <div class="my-2 mx-1" *ngIf="resume.languages">
              <div class="display-8 text-center text-secondary pt-5 pb-2">
                Languages I speak
              </div>
              <div class="text-secondary">
                <div
                  class="my-2 p-2 border border-primary rounded blur-hard"
                  *ngFor="let lang of resume.languages"
                >
                  <div class="row">
                    <div class="col">{{ lang.name | uppercase }}</div>
                    <div class="col-4 text-center">
                      {{ lang.level | uppercase }}
                    </div>
                  </div>
                  <div class="row" *ngIf="lang.certification != ''">
                    <small class="col">{{ lang.certification }}</small>
                    <small class="col-4 text-center">{{ lang.year }}</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-2" *ngIf="resume.hobbies">
              <div class="display-8 text-center text-secondary py-2 mx-1">
                Hobbies
              </div>
              <div class="text-primary row my-2 mx-1 rounded">
                <div
                  class="py-2 m-1 border border-primary text-secondary rounded text-center col blur-hard d-flex flex-column justify-content-center"
                  *ngFor="let hobby of resume.hobbies"
                >
                  <div>
                    <img src="{{ hobby.iconLink }}" width="24" alt="icon" />
                  </div>
                  <div>
                    {{ hobby.name }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 my-2 py-2">
          <!-- <div class="text-center text-secondary py-2 fw-light">
            Favourite technologies
          </div> -->
          <div class="row">
            <div
              *ngFor="let favourite of resume.favourites"
              class="col card-group text-wrap justify-content-center"
            >
              <div
                class="icon-hover-animation justify-content-center text-center px-4 pt-4"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="{{ favourite.name }}"
              >
                <img
                  width="70rem"
                  src="{{ favourite.iconLink }}"
                  alt="{{ favourite.name }}"
                />
                <div class="hidden text-secondary pt-1">
                  {{ favourite.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vertical-space-10"></div>
    <div class="px-4 pb-3">
      <div class="row border-top border-3 border-primary mt-5 title-container">
        <span class="moirai subtitle gradient-text">Latest projects</span>
        <div
          class="col-md-6 mt-5 mb-2 card-group"
          *ngFor="let proj of projects"
        >
          <div class="card-hover-animation">
            <img
              class="card-img-top"
              src="{{ proj.images[0] }}"
              alt="Card cap"
            />
            <div class="card-body">
              <h5 class="card-title">{{ proj.name }}</h5>
              <p class="card-text">{{ proj.description }}</p>
              <!-- <a href="{{ proj.link }}" class="btn btn-primary"
                >Go to project</a
              > -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vertical-space-20"></div>
  </div>
</div>
