@charset "UTF-8";

:root {
  --bs-primary: #57f2cc;
  --bs-gray: #f3f5eb;
  --bs-primary-light: #d4ffec;
  --bs-secondary: #073555;
  --bs-secondary-light: #1267a3;
  --bs-success: #57f29f;
  --bs-info: #57f2ed;
  --bs-warning: #f2a457;
  --bs-danger: #f25757;
  --bs-light: #f3f5eb;
  --bs-dark: #212529;
  --bs-primary-rgb: 87, 242, 204;
  --bs-gray-rgb: 243, 245, 235;
  --bs-primary-light-rgb: 212, 255, 236;
  --bs-secondary-rgb: 7, 53, 85;
  --bs-secondary-rgb-no-grad: 0, 40, 60;
  --bs-success-rgb: 87, 242, 159;
  --bs-info-rgb: 87, 242, 231;
  --bs-warning-rgb: 242, 164, 87;
  --bs-danger-rgb: 242, 87, 87;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-black-rgb: 0, 0, 0;
  --bs-white-rgb: 255, 255, 255;
  --bs-body-rgb: 33, 37, 41;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-body-font-family: Roboto Light, Nunito, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  letter-spacing: 0.0625em;
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-gray);
  /* text-size-adjust: 100%; */
  /* -webkit-text-size-adjust: 100%; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* overflow-x: hidden; */
}

/* //////////// Scrollbar //////////// */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bs-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(
    270deg,
    rgba(var(--bs-gray-rgb), 0.2) 25%,
    var(--bs-primary) 85%
  );
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bs-primary);
}

/*///////////// !Scrollbar /////////////////*/

.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.text-primary-light {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-light-rgb), var(--bs-text-opacity)) !important;
}

.text-secondary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

.border-primary {
  border-color: var(--bs-primary) !important;
}

.border-secondary {
  border-color: var(--bs-secondary) !important;
}

.display-1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-1 {
    font-size: 5rem;
  }
}

.display-2 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-2 {
    font-size: 4.5rem;
  }
}

.display-3 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-3 {
    font-size: 4rem;
  }
}

.display-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }
}

.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-5 {
    font-size: 3rem;
  }
}

.display-6 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-6 {
    font-size: 2.5rem;
  }
}

.display-7 {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-7 {
    font-size: 2rem;
  }
}

.display-8 {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .display-8 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1100px) {
  .display-8 {
    font-size: 1rem;
  }
}

.toast-container {
  opacity: 0.9;
}

.toast-info {
  background-color: var(--bs-primary) !important;
}

.blur-soft {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  width: 100%;
}

@media (max-width: 992px) {
  .blur-soft {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: none;
  }
}

.blur-hard {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  width: 100%;
}

@media (max-width: 992px) {
  .blur-hard {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: none;
  }
}

.blur-hard-primary {
  background: linear-gradient(
    -255grad,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(212, 255, 236, 0.5) 100%
  );
  backdrop-filter: blur(3px);
  width: 100%;
}

@media (max-width: 992px) {
  .blur-hard-primary {
    background: linear-gradient(
      -255grad,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(212, 255, 236, 0.5) 100%
    );
    opacity: 0.5;
    backdrop-filter: none;
  }
}

.hide-lg {
  visibility: hidden;
}

@media (max-width: 992px) {
  .hide-lg {
    visibility: visible;
  }
}

.bg-about {
  padding: 8rem 0;
  background: linear-gradient(
      to bottom,
      rgba(212, 255, 236, 0) 0,
      rgba(243, 245, 235, 50%) 10%,
      rgba(243, 245, 235, 80%) 20%,
      var(--bs-gray) 70%
    ),
    url("assets/wallpaper/wp-ai.webp");
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

@media (max-width: 992px) {
  .bg-about {
    padding: 5rem 0;
    background-position: 0 40%;
  }
}

.bg-gray {
  background: var(--bs-gray);
}

.bg-header {
  padding: 10rem 0;
  background: url("assets/wallpaper/wp-ai-wide.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.bg-frostberry {
  background: linear-gradient(255grad, #d6ffed 0%, #57f2cc 48%, #4498ff 100%);
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
}

.bg-primary-light {
  --bs-bg-opacity: 1;
  background: linear-gradient(to top, #d4ffec 0, var(--bs-gray) 25%);
}

.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-secondary-rgb-no-grad),
    var(--bs-bg-opacity)
  ) !important;
}

.bg-secondary-grad {
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-secondary-rgb),
    var(--bs-bg-opacity)
  ) !important;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.4) 75%
  );
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-success-rgb),
    var(--bs-bg-opacity)
  ) !important;
}

.bg-info {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
}

.bg-warning {
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-warning-rgb),
    var(--bs-bg-opacity)
  ) !important;
}

.bg-danger {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.bg-opaque {
  --bs-bg-opacity: 0.5;
  background-color: rgba(var(--bs-bg-opacity)) !important;
}

.bg-opaque-lg {
  --bs-bg-opacity: 0.5;
  background-color: rgba(var(--bs-bg-opacity)) !important;
}

@media (max-width: 992px) {
  .bg-opaque-lg {
    --bs-bg-opacity: 0.9;
    background-color: rgba(
      var(--bs-primary-rgb),
      var(--bs-bg-opacity)
    ) !important;
  }
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #1e2125;
  background-color: transparent;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #adb5bd;
  pointer-events: none;
  background-color: transparent;
}

.sr-only {
  visibility: hidden;
  width: 0%;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link-2 {
  position: relative;
  display: block;
  padding: 1rem 1rem;
  color: rgba(var(--bs-secondary-rgb), 0.8);
  text-decoration: none;
  font-family: "Moirai One", system-ui;
  font-weight: 800;
  font-style: normal;
  font-size: 2em;
  line-height: 1.2;
  filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
  transition: color 0.35s ease-in-out, filter 0.35s ease-in-out;
}

.nav-link-2:hover {
  filter: drop-shadow(0px 5px 2px rgba(var(--bs-secondary-rgb), 0.7));
  color: rgba(var(--bs-secondary-rgb), 1);
}

.wave-underline {
  position: relative;
  display: inline-block;
}

.wave-underline:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 90%;
  height: 10px;
  background-image: url(assets/wallpaper/wave-2.svg);
  background-size: contain;
  background-repeat: repeat;
  animation: waveMove 10s linear infinite;
}

@keyframes waveMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

a {
  color: var(--bs-secondary);
}

a:hover {
  color: var(--bs-secondary);
}

.btn {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  /* padding: 1.25rem 2rem;
  font-size: 80%; 
  border: 0;*/
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.dropdown-toggle {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(100, 161, 157, 0.25);
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
}

.btn-primary {
  color: var(--bs-white);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary:hover {
  color: #fff;
  background-color: #52e5c0;
  border-color: #50817e;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #52e5c0;
  border-color: #50817e;
  box-shadow: 0 0 0 0.25rem rgba(123, 175, 172, 0.5);
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: var(--bs-white);
  background-color: var(--bs-primary);
  border-color: var(--bs-secondary);
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(123, 175, 172, 0.5);
}

.btn-primary:disabled,
.btn-primary.disabled {
  color: #fff;
  background-color: #64a19d;
  border-color: #64a19d;
}

.btn-secondary {
  color: #fff;
  background-color: var(--bs-secondary);
}

.btn-secondary:hover {
  color: #fff;
}

.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
  color: #fff;
  box-shadow: 0 0 0 0.25rem rgb(7, 136, 156);
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(#fff, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

.icon-150 {
  font-size: 1.5em;
}

.icon-125 {
  font-size: 1.25em;
}

.icon-100 {
  font-size: 1em;
}

.icon-75 {
  font-size: 0.75em;
}

.icon-50 {
  font-size: 0.5em;
}

@media (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }
}

.title {
  position: absolute;
  z-index: 1;
  font-size: 7em;
  top: -1.05em;
  left: 5%;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.subtitle {
  position: absolute;
  z-index: 1;
  font-size: 4.5em;
  top: -0.88em;
  left: 5%;
  width: fit-content;
  text-align: start;
}
@media (max-width: 550px) {
  .subtitle {
    font-size: 2em;
  }
}

.title-container {
  position: relative;
}

.gradient-text {
  background: -webkit-linear-gradient(
    270deg,
    var(--bs-secondary) 75%,
    var(--bs-primary) 75%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-zain {
  background: -webkit-linear-gradient(
    270deg,
    var(--bs-secondary) 58%,
    var(--bs-primary) 58%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@font-face {
  font-family: "Moirai One";
  font-style: normal;
  src: url("assets/fonts/MoiraiOne-Regular.ttf") format("truetype");
}
.moirai {
  font-family: "Moirai One", system-ui;
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Zain";
  font-style: normal;
  src: url("assets/fonts/Zain-ExtraLight.ttf") format("truetype");
}
.zain {
  font-family: "Zain", system-ui;
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  src: url("assets/fonts/Roboto-Light.ttf") format("truetype");
}
.roboto-light {
  font-family: "Roboto Light", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*////////////// Animations ////////////////*/

.icon-hover-animation {
  z-index: 1;
  width: 150px;
  height: 150px;
  transform: translate(0);
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.icon-hover-animation:hover {
  transform: translate(0, -10px);
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
}

.icon-hover-animation .hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.icon-hover-animation:hover .hidden {
  opacity: 1;
}

.card-hover-animation {
  height: fit-content;
  transform: translate(0);
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.card-hover-animation:hover {
  transform: translate(10px, -10px);
  border-radius: 5px;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
}

.button-shadow-animation {
  filter: drop-shadow(2px 1px 1px rgba(0, 0, 0, 0.3));
  transition: filter 0.5s ease-in-out;
}
.button-shadow-animation:hover {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}
.tech-dropdown-animation {
  transform: translateY(-85%);
  transition: transform 0.5s ease-in-out;
}
.tech-dropdown-animation:hover {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}
@media (max-width: 1476px) {
  .tech-dropdown-animation {
    transform: translateY(-90%);
    transition: transform 0.5s ease-in-out;
  }
}
@media (max-width: 992px) {
  .tech-dropdown-animation {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
  }
}
.project-icon-animation {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}
.project-icon-animation:hover {
  transform: scale(1.15);
}
/*////////////// !Animations ////////////////*/

/*////////////// Loading Screen ////////////////*/
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--bs-gray);
}

.loading-square {
  width: 50px;
  height: 50px;
  background: linear-gradient(
    to bottom,
    var(--bs-primary) 50%,
    var(--bs-secondary) 50%
  );
  border-radius: 10px;
  animation: jumpAndRotate 2.5s linear infinite;
}
@keyframes jumpAndRotate {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(-10px, -50px) rotate(360deg);
  }
  100% {
    transform: translate(0, 0) rotate(720deg);
  }
}
/*////////////// !Loading Screen ////////////////*/
/*////////////// Sidebar ////////////////*/

.sidebar-lg {
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  transition: all 0.3s;
  border-right: var(--bs-primary) 0.5rem solid;
  font-size: 1.2rem;
}
@media (max-width: 1500px) {
  .sidebar-lg {
    font-size: 1rem;
  }
}
@media (max-width: 1300px) {
  .sidebar-lg {
    font-size: 0.8rem;
    border-right: var(--bs-primary) 0.3rem solid;
  }
}
@media (max-width: 991px) {
  .sidebar-lg {
    width: 100%;
    height: auto;
    justify-content: center;
    transition: all 0.3s;
    border-right: none;
    border-bottom: var(--bs-primary) 0.5rem solid;
    font-size: 1rem;
    background-color: var(--bs-gray);
  }
}
@media (max-width: 550px) {
  .sidebar-lg {
    flex-wrap: nowrap !important;
    font-size: 0.7rem;
    position: relative;
    border-right: none;
    border-bottom: var(--bs-primary) 0.3rem solid;
  }
}

.gradient-bg {
  opacity: 0.5;
  background: none;
  z-index: -1;
}
.gradient-bg:after,
.gradient-bg:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.gradient-bg:before {
  background: linear-gradient(90deg, var(--bs-primary) 0%, var(--bs-gray) 110%);
  animation: OpacityAnim 10s ease-in-out 5s infinite alternate;
}
@media (max-width: 992px) {
  .gradient-bg::before {
    background: var(--bs-gray);
  }
}
@keyframes OpacityAnim {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
/*///////////// !Sidebar ////////////*/

.vertical-space-10 {
  height: 10vh;
}

.vertical-space-20 {
  height: 20vh;
}

@media (max-width: 992px) {
  .w-75 {
    width: 100% !important;
  }
}

/*////////////// Projects List ////////////*/
.masonry-layout {
  columns: 3;
  column-gap: 3rem;
}
.masonry-layout div {
  display: inline-block;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.masonry-layout span {
  width: fit-content;
}
@media (max-width: 1500px) {
  .masonry-layout {
    columns: 2;
    column-gap: 4rem;
  }
}
@media (max-width: 600px) {
  .masonry-layout {
    columns: 1;
    column-gap: 1rem;
  }
}
.filter-button {
  position: absolute;
  right: 0px;
  bottom: -40px;
  border-bottom: var(--bs-primary) 0.2rem solid;
}
.filter-button-aqua {
  background-color: var(--bs-primary);
  border-bottom: var(--bs-secondary) 0.2rem solid;
  border-radius: 0%;
}
/*////////////// !Projects List ////////////*/
/*////////////// Project Detail ////////////*/
.project-detail {
  position: fixed;
  top: 0%;
  height: 100%;
  width: inherit;
  justify-content: center;
  border-top: var(--bs-primary) 0.5rem solid;
  border-bottom: var(--bs-primary) 0.5rem solid;
  border-right: var(--bs-primary) 0.5rem solid;
  z-index: 1100; /* To overlap top nav z-index:1000 */
  overflow-y: auto; /* Enable scrolling project details */
}
body.project-detail-open {
  overflow: hidden; /* Prevent scrolling all content */
}
.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: -5px;
  left: 100%;
  background-color: var(--bs-primary);
  color: var(--bs-secondary);
  border-bottom: var(--bs-secondary) 0.3rem solid;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 101;
}
.img-detail {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
  transform: scale(1);
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.img-detail:hover {
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.3));
  transform: scale(1.05);
  cursor: pointer;
}
@media (max-width: 992px) {
  .row-md {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.img-main {
  justify-content: center;
  border: none;
  height: 100%; 
  object-fit: contain;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
  transition: filter 0.5s ease-in-out;
}
.img-main:hover {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}
app-project-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 83.5vw;
}
@media (max-width: 992px) {
  app-project-detail {
    width: 100vw;
  }
}
.slide-container {
  max-height: 50vh;
  overflow: auto;
  text-align: center;
  /*For Firefox*/
  scrollbar-width: thin;
  scrollbar-color: var(--bs-gray) var(--bs-gray);
}
.slide-container:hover {
  scrollbar-color: var(--bs-secondary) var(--bs-gray);
}
/* !For Firefox*/
/*For Webkit*/
.slide-container::-webkit-scrollbar {
  width: 5px;
}
.slide-container::-webkit-scrollbar-track {
  background: var(--bs-gray);
}
.slide-container::-webkit-scrollbar-thumb {
  background: var(--bs-gray);
  border-radius: 5px;
}
.slide-container:hover::-webkit-scrollbar-thumb {
  background: var(--bs-secondary);
}
.slide-container::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--bs-secondary-rgb), 0.75);
}
/* !For Webkit*/
/*///////////////// !Project Detail ////////////*/
